*.class
*.log
*.swp

# ide specific
.idea*

# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# intelliJ specific
.idea
.idea_modules

# drake specific
.drake
